<header class="h-16 bg-white flex items-center justify-between px-6 shadow-xs border-b border-slate-200">
    <div class="flex items-center">
        <!-- <button class="md:hidden p-2 -ml-2 mr-2 text-slate-700 hover:bg-slate-100 rounded-lg" (click)="onMenuClick()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button> -->
        <div class="relative hidden sm:block">
            
        </div>
    </div>
    <div class="flex items-center gap-4">

        <div class="flex items-center gap-3 cursor-pointer pl-4 border-l border-slate-200">
            <div
                class="w-9 h-9 rounded-full bg-linear-to-r from-indigo-500 to-purple-600 text-white flex items-center justify-center font-semibold text-sm ring-2 ring-white shadow-sm">
                DA</div>
            <span class="font-medium text-slate-700 text-sm hidden sm:block">Demo Admin</span>
        </div>
    </div>
</header>